html, body, #map {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0;
    padding: 0;
    position: relative;
}

.popup-link {
    text-decoration: none;
    color: #00244d;
    display: table;
    font-size: 2em;
    padding: 10px;
}

.popup-link:hover {
    text-decoration: underline;
}

#popup-wrapper {
    position: absolute;
    margin: auto;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    display: none;
    overflow: hidden;
    border: 1px solid #CCC;
}

#popup {
    background: white;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
    color: #00244d;
    box-sizing: border-box;
    position: relative;
}

#popup hr {
    margin: 20px;
}

#popup img {
    max-width: 100%;
}

#popup a {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./images/close.png');
    width: 20px;
    height: 20px;
    display: block;
    margin: 15px;
}
